/* body{
    background-color: red;
} */

.content{
    margin-bottom: 30px;
}


nav{
    background-color: red;
    display: flex;
    justify-content: space-between
}


.jumbotron{

 margin-top: 4%;
 padding: 5%;
 background-color: #007bff;
 color: #ffffff;
}

header{
    display: flex;
    justify-content: center;

}

.jumbotronDos{

    margin-top: 4%;
    padding: 5%;
    background-color: #00ff1a;
    color: #ffffff;
   }